<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form action="/appointments/add" method="post">
    <input type="text" name="doctor" placeholder="Доктор">
    <input type="text" name="client" placeholder="Клиент">
    <input type="datetime-local" name="dateStr" placeholder="Время">
    <button type="submit">Добавить запись</button>
</form>



</body>
</html>