<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Просмотр записи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="bg-light">
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <div class="col-12">
        <div th:if="${message}">
            <div th:text="${message}"></div>
        </div>
        <form th:action="|/appointments/${appointment.id}/edit|" method="post">
            <div class="row">
                <div class="row col-12 justify-content-between">
                    <div class="col-3">
                        <input type="checkbox" id="active" disabled th:checked="${appointment.active}">
                        <label for="active" class="form-label" >Активная</label>
                    </div>
                    <div class="col-3 mb-1 text-muted" th:text="${appointment.date}">Nov 12</div>
                    <h3 class="mb-0" th:text="|Доктор: ${appointment.doctorJobTitle} ${appointment.doctorName}|">Doctor profession</h3>
                    <h3 class="mb-0" th:text="|Пациент: ${appointment.clientName}|">Client name</h3>
                </div>
                <div class="row col-12 justify-content-between">
                    <div class="row col-4">
                        <h4>Заключение</h4>
                        <textarea type="text" rows="15" th:text="${appointment.conclusion}" th:disabled="${readOnly}" name="conclusion"/>
                    </div>
                    <div class="row col-7">
                        <h4>Чек</h4>
                        <div class="col-12 table-responsive h-100">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Услуга</th>
                                    <th scope="col">Стоимость</th>
                                    <th scope="col">Кол-во</th>
                                    <th scope="col">Итог</th>
                                </tr>
                                </thead>
                                <tbody id="check" >
                                    <tr class="last" th:if="${!readOnly}">
                                        <td class="w-25"><select class="form-select good" name="good">
                                            <option value="0"></option>
                                            <option th:each="good : ${goods}" th:value="${good.id}" th:text="${good.name}"></option>
                                        </select></td>
                                        <td><input type="number" disabled step="0.01" name="price" class="form-control price"></td>
                                        <td><input type="number" step="1" name="qty" class="form-control qty"></td>
                                        <td><input type="number" disabled step="0.01" name="total" class="form-control total"></td>
                                    </tr>
                                    <tr th:each="checkLine : ${checkLines}">
                                        <td class="w-25" th:text="${checkLine.good.name}"></td>
                                        <td><input type="number" disabled step="0.01" name="price" class="form-control price" th:value="${checkLine.price}"></td>
                                        <td><input type="number" disabled step="1" name="qty" class="form-control qty" th:value="${checkLine.qty}"></td>
                                        <td><input type="number" disabled step="0.01" name="total" class="form-control total" th:value="${checkLine.price* checkLine.qty}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row col-12 justify-content-end">
                                <div class="col-1 me-4">Итого:</div>

                                <input id="total" type="number" disabled="" step="0.01" class="col-4">
                            </div>
                        </div>
                        <div id="goodsPrices" class="d-none">
                            <div th:each="good : ${goods}" th:id="${good.id}">
                                <input type="number" step="0.01" name="price" class="form-control price" th:value="${good.price}">
                            </div>
                        </div>
                        <input class="d-none" type="text" name="checkJson" id="checkJson">
                    </div>

                </div>

                <input type="hidden" name="appointmentId" th:value="${appointment.id}">
                <button sec:authorize="hasAuthority('DOCTOR')" class="w-100 my-3 btn btn-primary btn-lg" th:if="${!readOnly}" type="submit">Сохранить</button>
                <a sec:authorize="hasAuthority('USER')" th:href="|/appointments/${appointment.id}/cancel|" th:if="${canCancel}" class="btn btn-primary">Отменить запись</a>
            </div>
        </form>
    </div>
</div>



<div th:insert="blocks/footer :: footer"></div>
<script type="text/javascript" src="/static/js/appointment-edit.js"></script>

</body>
</html>