<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/user" method="post">
    <input type="text" name="username" th:value="${user.username}">
    <div th:each="role : ${roles}">
        <label > <input th:text="${role}" type="checkbox" th:name="${role}"  th:checked="${#arrays.contains(user.roles, role)}">  </label>
    </div>
    <input type="hidden" name="userId" th:value="${user.id}">


    <button type="submit">Save</button>
</form>
</body>
</html>