<header th:fragment="header" class="p-3 bg-dark text-white" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Домой</a></li>
                <li><a href="/appointments" class="nav-link px-2 text-white" sec:authorize="hasAuthority('USER') or hasAuthority('DOCTOR')">Список записей</a></li>
                <li><a href="/user" class="nav-link px-2 text-white" sec:authorize="hasAuthority('ADMIN')">Пользователи</a></li>
                <li><a href="/employee" class="nav-link px-2 text-white" sec:authorize="hasAuthority('ADMIN')">Сотрудники</a></li>
                <li><a href="/good" class="nav-link px-2 text-white" sec:authorize="hasAuthority('ADMIN')">Услуги</a></li>
                <li><a href="/price" class="nav-link px-2 text-white" sec:authorize="!hasAuthority('ADMIN')">Прейскурант</a></li>
            </ul>

            <div class="text-end" sec:authorize="!isAuthenticated()">
                <a type="button" href="/login" class="btn btn-outline-light me-2">Войти</a>
                <a type="button" href="/sign_up" class="btn btn-warning">Зарегестироваться</a>
            </div>

            <div class="dropdown text-end" sec:authorize="isAuthenticated()">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://e7.pngegg.com/pngimages/545/892/png-clipart-computer-icons-user-profile-web-user-icon-face-monochrome.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li> <div class="dropdown-item"> <a >Добрый день, </a><a sec:authentication="principal.fullName"></a> </div> </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" sec:authorize="hasAuthority('USER')" href="/user/me">Профиль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>